body{
    font-family: sans-serif;
}
@keyframes sample1{
    0%{width: 10%; background-color: blue; border-radius: 5px;}
    100%{width: 80%; background-color: red; border-radius: 50px;}
}
@keyframes sample2{
    0%{font-size: 0em; transform: rotate(70deg)}
    25%{transform: rotate(-70deg)}
    50%{transform: rotate(30deg)}
    75%{transform: rotate(-20deg)}
    100%{font-size: 9em;}
}

/*Boxes---------------------------------------------------*/
#box1{
    width: 10%;
    height: 50px;
    background-color: blue;
    animation: sample1 2s alternate infinite ease-in-out;
    margin: auto;
}
#box2{
    width: 90%;
    height: 50px;
    margin: auto;
    color: yellow;
    text-align: center;
}
#box2 h1{
    animation: sample2 4s alternate infinite;
    font-size: 1em;
}
.hi{
    margin-top: 200px;
}
.container{
    width:400px;
    height: 100px;
    margin-top: 150px;
    margin-left: 100px;
}
#spinnythinggy1, #spinnythinggy2{
    background-color: blue;
    width: 250px;
    height: 50px;
    position: absolute;
}
#spinnythinggy1{
    border-radius: 50px 10px;
    animation: spin 4s infinite linear;
    
}
#spinnythinggy2{
    margin-left: 500px;
    border-radius: 10px 50px;
    animation: spin 4s infinite reverse linear;
}
#line{
    background-color: black;
    width: 500px;
    height: 10px;
    margin-left: 125px;
    margin-top: 20px;
    position: absolute;
    z-index: 2;
}
@keyframes spin{
    100%{transform: rotate(360deg)}
}
.container2{
    position: relative;
    height: 200px;
}
#box{
    height: 100px;
    width: 100px;
    top: 0;
    left: -2%;
    background-color: red;
    animation: wierd 5s linear infinite;
    position: absolute;
}
@keyframes wierd{
    0%{
        background-color: red;
    }
    59.9%{
        background-color: red;
    }
    60%{
        transform: rotate(630deg);
        top: 200px;
        left: 50%;
        background-color: orange;
    }
    79.9%{
        background-color: orange;
    }
    80%{
        top: 0;
        left: 75%;
        background-color: yellow;
    }
    89.9%{
        background-color: yellow;
    }
    90%{
        top: 200px;
        left: 90%;
        background-color: olive;
    }
    99.9%{
        background-color: olive;
    }
    100%{
        top: 0;
        background-color: purple;
        left: 102%;
    }
}
#container3{
    left: -47%;
    height: 300px;
    width: 500px;
    position: absolute;
    animation: move 1s linear infinite;
}
img{
    height: 100%;
    border-width: 100%;
}
#fire{
    position: absolute;
    transform: rotate(270deg);
    top: 45px;
    left: -160px;
    height: 200px;
    z-index: 0;
    animation: flame .2s linear infinite;
}
@keyframes flame {
    0% {opacity: 0}
    100% {opacity: 1}
}
#word{
    width: 100px;
    height: 100px;
    top: 90px;
    left: 260px;
    position: absolute;
}
#wheel1, #wheel2{
    height: 130px;
    width: 130px;
    border-right: 480%;
    position: absolute;
    top: 122px;
    left: 27px;
    animation: spin 0.1s linear infinite;
}
#wheel2{
    left: 440px;
}
@keyframes move{
    100%{transform: translateX(370%)}
}
.container3{
    width: 400px;
        height: 95px;
    background-color: white;
}
.big{
    text-align: center;
    font-size: 5em;
}
.hiii{
   margin-top: 400px; 
}
#inv{
    position: absolute;
    height: 95px;
    width: 400px;
    border-left: black solid 5px;
    background-color: white;
    margin-top: -145px;
    animation: type 4s steps(9) infinite;
}
@keyframes type{
    60%{
        margin-left: 400px;
        width: 1px;
        border-left: darkred solid 5px;
    }
    90%{
        margin-left: 400px;
        width: 1px;
        border-left: black solid 5px;
    }
}
.homepage{
    opacity: .5;
    border: black solid 1px;
    width: 100px;
    height: 65px;
    padding: 5px;
    text-shadow: 5px 5px 5px black;
    background-color: white;
    position: fixed;
}
.homepage a{
    text-decoration: none;
    color: black;
}
.homepage a:hover{
    text-decoration: none;
    color: darkgrey;
}
