/*sample1*/
#main{
    height: 200px;
    width: 200px;
    background-color: red;
    transition: 1s;
}
.container{
    height: 200px;
    width: 1000px;
    border: black solid 1px;
    position: absolute;
    top: 10%;
    left: 2.5%;
    transform: translate(0, -50%);
}

/*sample2*/
.container2{
    height: 200px;
    width: 1000px;
    border: black solid 1px;
    position: absolute;
    top: 30%;
    left: 2.5%;
    transform: translate(0, -50%);
}
#number1{
    height: 200px;
    width: 200px;
    background-color: red;
    transition: 1s;
    position: absolute;
    transition: 2s;
}
#number2{
    height: 200px;
    width: 200px;
    background-color: blue;
    border-radius: 50%;
    transition: 1s;
    position: absolute;
    left: 800px;
    transition: 2s;
}
/*sample3*/
.container3{
    height: 100px;
    width: 1000px;
    border: black solid 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#turn{
    position: absolute;
    left: 40%;
    transition: 3s;
}

/*sample4*/
.container4{
    height: 100px;
    width: 1000px;
    border: black solid 1px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#grow{
    position: absolute;
    left: 40%;
    transition: 3s;
}

/*sample5*/
.container5{
    height: 400px;
    width: 400px;
    border: black solid 1px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#TLC{
    background-color: purple;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100% 0 0 0;
    transition: 3s;
}
#TRC{
    background-color: purple;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 0;
    border-radius: 0 100% 0 0;
    transition: 3s;
}
#BLC{
    background-color: purple;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 0 0 0 100%;
    transition: 3s;
}
#BRC{
    background-color: purple;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 0 0 100% 0;
    transition: 3s;
}
/*sample6*/
.container6{
    width: 1000px;
    height: 400px;
    border: black solid 1px;
    top: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
#LT, #RT, #LB, #RB{
    height: 400px;
    width: 400px;
    background-color: purple;
    position: absolute;
    border-radius: 50%;
    left: 300px;
    transition: 3s;
}
.spacer{
    height: 500px;
    position: absolute;
    top: 100%;
}
.homepage{
    opacity: .5;
    border: black solid 1px;
    width: 100px;
    height: 65px;
    padding: 5px;
    text-shadow: 5px 5px 5px black;
    background-color: white;
    position: fixed;
    z-index: 2;
}
.homepage a{
    text-decoration: none;
    color: black;
}
.homepage a:hover{
    text-decoration: none;
    color: darkgrey;
}